@import "../../../assets/styles/variables.scss";

.game-info{
    color: $white;
    background-color: $black;
    width: 100%;
    overflow: hidden;
    .first-sect{
        background-image: linear-gradient(#040101, #25055A, #040101);
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        .first-img{
            width: 64%;
            right: -10%;
            bottom: 0;
            position: absolute;
            img{
                width: 100%;
            }
            @include mediaM(750px) {
                width: 100%;
                right: 0%;
            }
        }
        .text-holder{
            max-width: 550px;
            position: relative;
            p{
                margin-top: 20vh;
            }
            @include mediaM(750px) {
                p{
                    margin-top: 6vh;
                }
            }
        }
    }
    .red-bg{
        background-image: linear-gradient(#1B0010, #411122, #1B0010);
    }
    .blue-bg{
        background-image: linear-gradient(#080015, #25055A, #080015);
    }
    .green-bg{
        background-image: linear-gradient(#000C07, #273023, #000C07);
        .logo-spin{
            position: relative;
            // padding: 6%;
            img{
                width: 100%;
            }
            .floating{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                img{
                    width: 88%;
                }
            }
            .solid{
                width: 100%;
                position: relative;
                animation: spinning-wheel 10s linear 0s infinite;
            }
        }
    }
    .second-sect, .third-sect{
        background-image: url(../../../assets/images/new/game-info-bg-1.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .third-sect{
        background-image: url(../../../assets/images/new/game-info-bg-2.jpg);
    }
}

@keyframes spinning-wheel {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}