@import '../../../../../assets/styles/variables.scss';

.hero-case{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 82px;
    background-image: url(../../../../../assets/images/new/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    @include mediaM(885px) {
        padding-top: 60px;
    }
    .hero{
        position: relative;
        padding: 3em;
        min-height: calc(100vh - 82px);
        @include mediaM(885px) {
            min-height: calc(100vh - 60px);
            padding: 1.5em;
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .hero-img-case{
            position: absolute;
            width: 60%;
            height: 100%;
            max-width: 700px;
            left: 0;
            top: 0;
            background-image: url(../../../../../assets/images/new/hero-img.png);
            background-size: contain;
            background-position-x: left;
            background-position-y: bottom;
            background-repeat: no-repeat;
            @include mediaM(750px) {
                width: 100%;
                top: 25%;
                height: 70%;
                background-size: cover;
                background-position-x: center;
                background-position-y: top;
            }
        }
        .hero-content-case{
            position: relative;
            color: $white;
            width: 60%;
            max-width: 650px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: column;
            h4{
                width: 100%;
            }
            .hollow-line{
                width: 100%;
                height: 4.5px;
                background-image: linear-gradient(to right, $white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), $white);
            }
            .content-features{
                width: 70%;
                height: 60vh;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                flex-direction: column;
                .sinverse-topic{
                    width: 100%;
                }
                .mobile-image{
                    display: none;
                }
                .hero-download{
                    width: 38%;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s ease;
                    padding-bottom: 2em;
                    img{
                        width: 100%;
                        border-radius: 3px;
                        border: 1px solid #AD6B8F;
                        box-shadow: 5px 5px 4px 0px rgba(255, 255, 255, 0.24);
                    }
                    &:hover{
                        transform: scale(1.1) rotate(6deg) translateY(10px);
                        img{
                            border: 2px solid #d64595;
                        }
                    }
                    @include mediaM(750px) {
                      p{
                        font-size: 0.85em;
                      }
                    }
                }
                .spread-holder{
                    min-height: 150px;
                    width: 100%;
                }
                .spread-downloads{
                    display: grid;
                    grid-template-columns: 47% 6% 47%;
                    .hero-download-button{
                        padding: 12px 15px;
                        border-radius: 8px;
                        transition: 0.3s ease;
                        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.24);
                        img{
                            width: 100%;
                        }
                        &:hover{
                            transform: scale(1.05) rotate(5deg);
                        }
                        &:active{
                            filter: brightness(80%);
                            transform: scale(1.1) rotate(5deg) translateY(10px);
                        }
                    }
                    .red{
                        background-color: $red;
                    }
                    .purple{
                        background-color: $primary-purple;
                    }
                    @include mediaM(750px) {
                        display: block;
                        width: 100%; padding-bottom: 3em;
                        .hero-download-button{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 70%;
                            }
                        }
                        .red{
                            display: none;
                        }
                        .dvd{
                            width: 100%;
                            height: 15px;
                        }
                    }
                }
            }
            @include mediaM(750px) {
                width: 100%;
                h4{
                    font-size: 1.25em;
                }
                .content-features{
                    width: 100%;
                    height: 76vh;
                    .sinverse-topic{
                        width: 70%;
                    }
                    .mobile-image{
                        display: block;
                        width: 70%;
                        max-width: 280px;
                        margin: auto;
                        opacity: 0;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .scroll-down{
            position: absolute;
            bottom: 5vh;
            left: calc(50% - 25px);
            cursor: pointer;
            border-radius: 50%;
            overflow: hidden;
            .circle-holder{
                width: 54px;
                transition: 0.6s ease;
                img{
                    width: 100%;
                }
            }
            .arrow-holder{
                position: absolute;
                top: calc(50% - 13.5px);
                left: calc(50% - 13px);
                width: 26px;
                opacity: 0.7;
                transition: 0.3s ease;
                img{
                    width: 100%;
                }
            }
            &:hover{
                .circle-holder{
                    transform: rotate(360deg);
                }
                .arrow-holder{
                    transform: scale(1.05);
                    opacity: 1;
                }
            }
        }
    }
}
