@import '../../../../../assets/styles/variables.scss';

.land-types{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url(../../../../../assets/images/new/land-type-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em 0 4em;
    color: $white;
    .type-holder{
        position: relative;
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin: 1.3em auto 2em;
        .type-case{
            overflow: auto;
            width: 100%;
            max-width: 1300px;
            .types{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // width: 1500px;
                width: 1250px;
                margin: auto;
                @include mediaM (790px){
                    justify-content: center;
                    width: 1125px;
                    width: 940px;
                }
                @include mediaM (650px){
                    width: 1000px;
                    width: 850px;
                }
                .type{
                    width: 220px;
                    margin: 1em;
                    box-shadow: 4px 5px 7px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 12px;
                    background-color: #6A00AD;
                    color: $white;
                    font-weight: 700;
                    cursor: pointer;
                    padding: 14px;
                    transition: 0.3s ease;
                    @include mediaM(750px) {
                        padding: 8px;
                    }
                    @include mediaM (490px){
                        width: 150px;
                        margin: 0.8em;
                    }
                    img{
                        width: 100%;
                        cursor: pointer;
                        border: 1.6px solid $white-faint1;
                        border-radius: 5px;
                    }
                    p{
                        margin-bottom: 0;
                        padding-top: 0.5em;
                        min-height: 58px;
                        @include mediaM (490px){
                            min-height: 46.5px;
                        }
                    }
                    &:hover{
                        transform: rotate(5deg) scale(1.05);
                    }
                }
                .active-type{
                    border: 1px solid #C568FF;
                    box-shadow: 5px 9px 15px 0 rgba(0, 0, 0, 0.25);
                    pointer-events: none;
                    transform: scale(1.1);
                    &:hover{
                        transform: rotate(0) scale(1.1);
                    }
                }
            }
        }
        .actions{
            position: absolute;
            top: 45%;
            left: -2%;
            width: 104%;
            height: 0.1px;
            // max-width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                width: 10px;
                height: 10px;
                // border-radius: 3px;
                // background-color: antiquewhite;
                i{
                    font-size: 1.3em;
                    color: $white;
                }
            }
            @include mediaW(950px) {
                left: -0.4%;
                width: 100%;
                div{
                    i{
                        font-size: 2.3em;
                    }
                }
            }
            @include mediaW(1250px){
                opacity: 0;
            }
        }
    }
    .active-sect{
        display: grid;
        grid-template-columns: 62% 2% 36%;
        width: 90%;
        // column-gap: 1em;
        max-width: 1250px;
        margin: 2em auto;
        .active-image{
            // width: 90%;
            // max-width: 850px;
            // margin: 2em auto;
            border: 1px solid #C568FF;
            box-shadow: 5px 9px 15px 0 rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .active-info{
            // width: 90%;
            // max-width: 850px;
            // margin: 2em auto;
            border: 1px solid #C568FF;
            box-shadow: 5px 9px 15px 0 rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            background-color: #6A00AD;
            color: $white;
            padding: 18px;
            @include mediaM(750px) {
                padding: 10px;
            }
            p{
                font-size: 0.8em;
                margin-bottom: 0;
                @include mediaM(750px) {
                    font-size: 00.9em;
                }
            }
            h2{
                @include mediaM (750px) {
                    font-size: 1.6em;
                }
            }
        }
        @include mediaM(1050px) {
            display: block;
            width: 100%;
            max-width: 2000px;
            margin: 0;
            .active-image{
                width: 90%;
                max-width: 850px;
                margin: 2em auto;
            }
            .active-info{
                width: 90%;
                max-width: 850px;
                margin: 2em auto;
            }
        }
    }
}
