@import '../../../../../assets/styles/variables.scss';

.sub-hero{
    width: 100%;
    background-image: url(../../../../../assets/images/new/sub-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: $white;
    .text{
        font-size: 0.85em;
        opacity: 0.8;
    }
    .vid-space{
        width: 96%;
        max-width: 600px;
        margin: auto;
        position: relative;
        .big-sphare-curve{
            width: 140px;
            height: 120px;
            border-radius: 35px;
            // background-color: $orange;
            border: 5px dashed $white-faint3;
            left: -40px;
            position: absolute;
            top: -40px;
            @include mediaM(676px) {
                display: none;
            }
        }
        .small-sphare-curve{
            width: 100px;
            height: 80px;
            border-radius: 25px;
            border: 5px dashed $white-faint3;
            left: -20px;
            top: -20px;
            position: absolute;
        }
        .vid-holder{
            width: 100%;
            position: relative;
            padding-bottom: 62.25%;;
            border-radius: 15px;
            background-color: rgb(0, 27, 66);
            .stream-vid{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 15px;
                overflow: hidden;
                border: 1px solid $white-faint3;
                box-shadow: 7px 7px 4px 0px rgba(255, 255, 255, 0.15);
            }
        }
    }
}
