@import '../../../../../assets/styles/variables.scss';

.roadmap{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url(../../../../../assets/images/new/roadmap-bg-plain.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em 0 4em;
    color: $white;
    .gradient-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(50, 48, 154, 0.5), rgba(0, 0, 0, 0.9));
    }
    .rm-img{
        width: 90%;
        margin: auto;
        max-width: 450px;
        img{
            width: 100%;
        }
    }
    .road-map-slide-holder{
        width: 100%;
        // min-height: 70vh;
        // padding: 20vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $white;
        .road-map-slide{
            background-color: #4D00CA;
            border: 3px solid #b031ff;
            border-radius: 11px;
            padding: 0.7em;
            .image-container{
                padding: 0.7em 0;
                img{
                    width: 100%;
                    margin: 0.7em 0;
                }
            }
            p{
                font-size: 0.8em;
                // line-height: 1.1;
                text-align: center;
                min-height: 110px;
                margin-bottom: 0;
            }
        }
    }
}
