@import "../../../assets/styles/variables.scss";

.about{
    color: $white;
    background-color: black;
    .intro-case{
        background-image: url(../../../assets/images/new/about-bg.jpg);
        .intro{
            padding: 2em 0 45vh;
            overflow: hidden;
            background-image: radial-gradient(rgba(55, 14, 204, 0.555), $black 80%);
            .intro-writeup{
                width: 90%;
                max-width: 1000px;
                margin: 2em auto 3em;
                padding: 1.2em;
                border: 1px dashed #17FFFF;
                background-color: rgba(74, 125, 255, 0.15);
                border-radius: 15px;
                position: relative;
                p{
                    font-size: 0.86em;
                    text-align: center;
                }
            }
        }
    }
    .team-sect{
        // background-color: $black;
        margin-top: -45vh;
        // position: relative;
        .team-card{
            text-align: center;
            margin: 1em auto;
            max-width: 300px;
            transition: 0.3s ease;
            .sin-card{
                padding: 0.5em;
                // border: 1px dashed #17FFFF;
                // background-color: rgba(74, 125, 255, 0.15);
                // border-radius: 15px;
                position: relative;
                .member-img{
                    position: relative;
                    width: 60%;
                    margin: 0 auto 1em;
                    img{
                        width: 100%;
                    }
                    .image-float{
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        width: 80%;
                        height: 80%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            border-radius: 42%;
                        }
                    }
                }
                h6{
                    margin-top: 1em;
                }
                .position{
                    font-size: 0.8em;
                    color: $white-faint2;
                    font-style: italic;
                }
                .read-more{
                    color: #17FFFF;
                    font-weight: 700;
                    font-size: 0.8em;
                    cursor: pointer;
                    transition: 0.3s ease;
                    &:active{
                        transform: scale(1.2);
                    }
                }
                .linked-in{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0.5em auto;
                    border: 1px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    cursor: pointer;
                    &:hover{
                        color: $primary-card;
                        background-color: $white;
                    }
                }
            }
            &:hover{
                transform: scale(1.07);
            }
        }
    }
}
.silent-sin{
    max-width: 550px !important;
    .modal-content{
        color: $white;
        width: 100%;
    }
    .team-card{
        width: 100%;
        .sin-card{
            padding: 1em;
            text-align: center;
            .member-img{
                position: relative;
                width: 60%;
                max-width: 200px;
                margin: 0 auto;
                img{
                    width: 100%;
                }
                .image-float{
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    width: 80%;
                    height: 80%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        border-radius: 42%;
                    }
                }
            }
            h6{
                margin-top: 1em;
            }
            .position{
                font-size: 0.8em;
                color: $white-faint2;
                font-style: italic;
            }
            .scrollable{
                max-height: 40vh;
                overflow: auto;
                @include mediaM(750px) {
                    max-height: 37vh;
                }
                a{
                    font-size: 1em;
                    font-weight: 500;
                    color: rgb(122, 217, 255);
                }
            }
            .links{
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-case{
                    display: inline-block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    border: 1px solid $white-faint1;
                    background-color: $black;
                    transition: 0.3s ease;
                    cursor: pointer;
                    i{
                        color: $white-faint1;
                    }
                    &:hover{
                        border-color: $white;
                        i{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}