@import '../../../../../assets/styles/variables.scss';

.latest-news{
    // background-image: url(../../../../../assets/images/small-angle-bg.jpg);
    background-image: url(../../../../../assets/images/new/land-type-bg.jpg);
    background-size: cover;
    background-position: center;
    color: $white;

    .news-slide-holder {
      width: 100%;
      padding: 2px;
      position: relative;
      .news-slide{
          width: 90%;
          max-width: 360px;
          margin: 1em auto;
          padding: 15px;
          border-radius: 20px;
          background-color: #6A00AD;
          border: 1px solid #C568FF;
        //   border: 1.5px dashed $primary-blue-hover-faint2;
          .im-enclose{
              height: 0;
              padding-bottom: 64%;
              border-radius: 10px;
              position: relative;
              background-image: url(./../../../../../assets/images/sample-news-image.jpeg);
              // box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.40);
              box-shadow: 0 2px 25px 0 $black-faint4;
              background-size: cover;
              overflow: hidden;
              margin-bottom: 15px;
              img{
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  transform: translateY(-50%);
              }
          }
          .image-holder{
              box-shadow: 0 2px 25px 0 $black-faint4;
              overflow: hidden;
              border-radius: 10px 10px 5px 5px;
              img{
                  width: 100%;
              }
              margin-bottom: 15px;
          }
          .text-holder{
              box-shadow: 0 2px 25px 0 $black-faint4;
              overflow: hidden;
              border-radius: 5px 5px 10px 10px;
              background-color: rgba(0, 0, 0, 0.3);
              padding: 15px;
              h6{
                  min-height: 41px;
              }
              .content{
                  min-height: 92.5px;
              }
              p{
                color: $white;
              }
              .news-button{
                  width: 100%;
                  padding: 5px;
                  box-shadow: 0 4px 8px 1px $black-faint4;
                  margin-top: 1em;
                  border-radius: 6px;
                  background-color: #8200d3;
                  // border: 1px solid rgba(197, 104, 255, 0.6);
                  border: none;
                  color: $white;
                  transition: 0.3s ease;
                  &:hover{
                    background-color: #7100b8;
                  }
              }
          }
          @include mediaM(767px) {
            padding: 10px;
            border-radius: 14px;
          }
      }
    }
}